html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.title {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 2px;
}

.subtitle {
  margin-top: 0;
  color: #aaa;
}

.label {
  color: #aaa;
  position: relative;
  z-index: 10;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

svg {
  height: 100%;
  width: 100%;
}

.links line {
  stroke: #999;
  /*stroke-width: 1px;*/
  stroke-opacity: 0.6;
}

@keyframes bigify {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

.nodes circle:hover {
  transform: scale(2);
  animation-duration: 0.5s;
  animation-name: bigify;
  transform-origin: center center;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.caption {
  position: fixed;
  bottom: 50px;
  color: #aaa;
}
